<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--========== BOX ICONS ==========-->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/lux/bootstrap.min.css"
    />
    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link href="css/post.css" rel="stylesheet" />
    <title>Inkit</title>
  </head>
  <body>
    <!--========== HEADER ==========-->
    <header class="header">
      <div class="header__container">
        <a href="#" class="header__logo title-span">Inkit</a>
        <form method="POST" action="/users/find">
          <div class="header__search">
            <input
              name="query"
              id="profile-search-query"
              type="search"
              placeholder="Search for users"
              class="header__input"
            />
            <button type="submit" class="bx-searchBtn">
              <i id="profile-search" class="bx bx-search header__icon"></i>
            </button>
          </div>
        </form>
        <div class="header__toggle">
          <i class="bx bx-menu" id="header-toggle"></i>
        </div>
      </div>
    </header>

    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
      <nav class="nav__container">
        <div>
          <a href="/" class="nav__link nav__logo">
            <i class="bx bxs-disc nav__icon"></i>
            <span class="nav__logo-name">Placeholder</span>
          </a>

          <div class="nav__list">
            <div class="nav__items">
              <h3 class="nav__subtitle">Profile</h3>

              <form
                id="get-home"
                method="GET"
                action="/"
                style="display: none"
              ></form>
              <button
                type="submit"
                form="get-home"
                id="btn-nav"
                class="active nav__link btn-primary"
              >
                <i class="bx bx-btns bx-home nav__icon"></i>
                <span class="nav__name">Home</span>
              </button>

              <form
                id="get-profile"
                method="GET"
                action="/profile/"
                style="display: none"
              ></form>
              <button
                id="btn-nav"
                form="get-profile"
                class="nav__link btn-primary"
                type="submit"
              >
                <i class="bx bx-btns bx-user nav__icon"></i>
                <span class="nav__name">Profile</span>
              </button>

              <form
                id="get-posts"
                method="GET"
                action="/timeline"
                style="display: none"
              ></form>
              <button
                type="submit"
                form="get-posts"
                id="btn-nav"
                class="nav__link btn-primary"
              >
                <i class="bx bx-btns bx-message nav__icon"></i>
                <span class="nav__name">My Posts</span>
              </button>

              <form
                id="messages"
                method="GET"
                action="/messages"
                style="display: none"
              ></form>
              <button
                type="submit"
                form="messages"
                id="btn-nav"
                class="nav__link btn-primary"
              >
                <i class="bx bx-btns bx-message-rounded nav__icon"></i>
                <span class="nav__name">Messages</span>
              </button>
            </div>
          </div>
        </div>
        <form
          id="logout-form"
          method="POST"
          action="/logout"
          style="display: none"
        ></form>
        <button
          form="logout-form"
          type="submit"
          id="btn-nav"
          class="nav__logout btn-primary"
        >
          <i class="bx bx-btns bx-log-out nav__icon"></i>
          <span class="nav__name">Log Out</span>
        </button>
      </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main class="h-100 mt-3"><%-body%></main>

    <!--========== JS ==========-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="/js/dashboard.js"></script>
  </body>
</html>
