<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--========== BOX ICONS ==========-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/lux/bootstrap.min.css"
    />
    <!--========== CSS ==========-->
    <link rel="stylesheet" href="/css/dashboard.css" />

    <title>Placeholder</title>
  </head>
  <body>
    <!--========== HEADER ==========-->
    <header class="header">
      <div class="header__container">
        <img src="assets/img/perfil.jpg" alt="" class="header__img" />

        <a href="#" class="header__logo">Placeholder</a>
        <form method="POST" action="/users/find">
          <div class="header__search">
            <input
              name="query"
              id="profile-search-query"
              type="search"
              placeholder="Search"
              class="header__input"
            />
            <button type="submit">
              <i id="profile-search" class="bx bx-search header__icon"></i>
            </button>
          </div>
        </form>
        <div class="header__toggle">
          <i class="bx bx-menu" id="header-toggle"></i>
        </div>
      </div>
    </header>

    <!--========== NAV ==========-->
    <div class="nav" id="navbar">
      <nav class="nav__container">
        <div>
          <a href="/" class="nav__link nav__logo">
            <i class="bx bxs-disc nav__icon"></i>
            <span class="nav__logo-name">Placeholder</span>
          </a>

          <div class="nav__list">
            <div class="nav__items">
              <h3 class="nav__subtitle">Profile</h3>

              <a href="/" class="nav__link active">
                <i class="bx bx-home nav__icon"></i>
                <span class="nav__name">Home</span>
              </a>

              <!-- <div class="nav__dropdown">
                <a href="#" class="nav__link">
                  <i class="bx bx-user nav__icon"></i>
                  <span class="nav__name">Profile</span>
                  <i
                    class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                  ></i>
                </a>

                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <a href="#" class="nav__dropdown-item">Passwords</a>
                    <a href="#" class="nav__dropdown-item">Mail</a>
                    <a href="#" class="nav__dropdown-item">Accounts</a>
                  </div>
                </div>
              </div> -->
              <a href="/profile" class="nav__link">
                <i class="bx bx-user nav__icon"></i>
                <span class="nav__name">Profile</span>
              </a>

              <a href="/timeline" class="nav__link">
                <i class="bx bx-message-rounded nav__icon"></i>
                <span class="nav__name">My Posts</span>
              </a>
            </div>

            <!-- <div class="nav__items">
              <h3 class="nav__subtitle">Menu</h3>

              <div class="nav__dropdown">
                <a href="#" class="nav__link">
                  <i class="bx bx-bell nav__icon"></i>
                  <span class="nav__name">Notifications</span>
                  <i
                    class="bx bx-chevron-down nav__icon nav__dropdown-icon"
                  ></i>
                </a>

                <div class="nav__dropdown-collapse">
                  <div class="nav__dropdown-content">
                    <a href="#" class="nav__dropdown-item">Blocked</a>
                    <a href="#" class="nav__dropdown-item">Silenced</a>
                    <a href="#" class="nav__dropdown-item">Publish</a>
                    <a href="#" class="nav__dropdown-item">Program</a>
                  </div>
                </div>
              </div>

              <a href="#" class="nav__link">
                <i class="bx bx-compass nav__icon"></i>
                <span class="nav__name">Explore</span>
              </a>
              <a href="#" class="nav__link">
                <i class="bx bx-bookmark nav__icon"></i>
                <span class="nav__name">Saved</span>
              </a>
            </div> -->
          </div>
        </div>
        <form
          class="nav__link nav__logout"
          id="logout-form"
          method="POST"
          action="/logout"
          style="display: hidden"
        >
          <button
            form="logout-form"
            type="submit"
            class="nav__link nav__logout btn btn-primary"
          >
            <i class="bx bx-log-out nav__icon"></i>
            <span class="nav__name">Log Out</span>
          </button>
        </form>
      </nav>
    </div>

    <!--========== CONTENTS ==========-->
    <main class="h-100 mt-5"><%-body%></main>

    <!--========== JS ==========-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script src="/js/dashboard.js"></script>
  </body>
</html>
