<form method="POST" action="/reset" class="mt-auto ml-auto">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Enter Email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
