.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
}
.card__side {
  height: 50rem;
  transition: all 0.8s ease;
  position: relative;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.25);
}
.card__side--front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.card__side--back--1 {
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back--2 {
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back--3 {
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0deg);
}
.card__picture {
  height: 23rem;
  background-size: cover;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
}
.card__picture--1 {
  background-image: url(../img/nat-5.jpg),
    linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__picture--2 {
  background-image: url(../img/nat-6.jpg),
    linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__picture--3 {
  background-image: url(../img/nat-7.jpg),
    linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card__heading {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 70%;
}
.card__heading-span {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__heading-span--1 {
  background-image: linear-gradient(
    to right bottom,
    rgba(255, 185, 0, 0.85),
    rgba(255, 119, 48, 0.85)
  );
}
.card__heading-span--2 {
  background-image: linear-gradient(
    to right bottom,
    rgba(126, 213, 111, 0.85),
    rgba(40, 180, 133, 0.85)
  );
}
.card__heading-span--3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(41, 152, 255, 0.85),
    rgba(86, 67, 250, 0.85)
  );
}
.card__details {
  padding: 3rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card__price-box {
  margin-bottom: 8rem;
  text-align: center;
  color: #fff;
}
.card__price-only {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
}
.card__price-value {
  text-align: center;
  font-size: 6rem;
  font-weight: 100;
}
